.services {
  background-color: #f0f0f0;
  padding: 15px;
  width: 100%;
}
.services .service-card-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 10px;
}
.services .more-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 10px 0;
}
.services .more-button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  text-align: center;
}
