.main-container{
  max-width: 1260px;
  margin: 20px auto;
  position: relative;
}

.main-container .slider-container{
  position: relative;
}
.main-container .slider-container .slider{
position: relative;
}

.main-container .slider-container .slider img{
width: 100%;
position: relative;
}
.main-container .slider-container .slider p{
  position: absolute;
  background: rgba(0, 0, 0, 0.543);
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 5px;
}
.main-container .arrows{
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 45%;
  left: 5px;
  right: 0;
}
.main-container .arrows .button{
  font-size: 40px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}