.navArea {
  background-color: #ad1d23;
  margin-bottom: 20px;
 
}

.navArea .nav-container {
  max-width: 1260px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navArea .nav-container .left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
}
.navArea .nav-container .left a {
  padding: 5px 0;
  font-family: "Pragati Narrow", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 5px;
}
.navArea .nav-container .left a:hover {
  background-color: #131b43;
  padding-left: 8px;
  padding-right: 8px;
  transition: all ease-in-out 300ms;
}
.navArea .nav-container .right {
  width: 15%;
  color: white;
  text-align: right;
}

.navArea .nav-container .right .icon {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}
.navArea .nav-container .right .icon:hover {
  background-color: #131b43;
}

.navArea .nav-container .right:hover {
  padding: 0 5px;
  transition: 300ms;
}
